html, body, p, div, img, h1, h2, h3, h4, li, ul, ol, dl, dd, dt, form {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}

body {
    background: #000;
}

a:hover {
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
}

.CContainer1 {
    height: 100%;
    width: 100%;
    background: url(/images/bg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer2 {
    height: 100%;
    width: 100%;
    background: url(/images/clue1bg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer3 {
    height: 100%;
    width: 100%;
    background: url(/images/bg2.jpg);
    background-size: cover;
    position: relative;
}

.CContainer4 {
    height: 100%;
    width: 100%;
    background: url(/images/beaglebg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer5 {
    height: 100%;
    width: 100%;
    background: url(/images/flyersbg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer6 {
    height: 100%;
    width: 100%;
    background: url(/images/wasailingbg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer7 {
    height: 100%;
    width: 100%;
    background: url(/images/carbg.jpg);
    background-size: cover;
    position: relative;
}

.CContainer8 {
    height: 100%;
    width: 100%;
    background: url(/images/jaxbg.jpg);
    background-size: cover;
    position: relative;
}


.CContainer9 {
    height: 100%;
    width: 100%;
    background: url(/images/usbg.jpg);
    background-size: cover;
    position: relative;
}

.Countdown {
    height: 250px;
    width: 642px;
    position: fixed;
    z-index: 100;
    left: 50%;
    margin-top: -125px;
    margin-left: -321px;
    background: rgba(44, 62, 80, .6);
    border-radius: 10px;
    box-shadow: 0 0 8pt 1pt #1a1a1a;
}

.CountdownClock {
    margin-top: 80px;
}

.MC {
    display: none;
}

.Map {
    width: 330px;
    height: 334px;
    background: url(/images/map.png);
    background-size: cover;
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 50;
}


.JJ {
    width: 340px;
    height: 310px;
    background: url(/images/beagle.png);
    background-size: cover;
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 50;
}

.Plane {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 41;
}

.PlaneTransition {
    -webkit-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    transition-duration: 0.9s;
}

.Start {
    padding: 10px;
    width: 100%;
}

.StartButton {
    width: 100%;
    height: 43px !important;
    line-height: 33px;
}

.ClueContainer {
    margin-top: 15%;
    padding: 10px;
    background: rgba(52, 73, 94,.8);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 7pt 1pt #6B6A1E;
}

.ClueContainer input[type=submit] {
    width: 100%;
}

.ClueText {
    font-family: 'Courgette', cursive;
    color: #ecf0f1;
    font-size: 30pt;
    text-shadow: 2px 2px 4px #000000;
}

.SuccessText {
    color: rgba(39, 174, 96,1.0);
    font-family: 'Courgette', cursive;
    margin-top: 10px;
    font-size: 22pt;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 20px;
}

.NopeText {
    color: rgba(192, 57, 43,1.0);
    font-family: 'Courgette', cursive;
    margin-top: 10px;
    font-size: 22pt;
    text-shadow: 2px 2px 4px #000000;
    display: none;
    padding-bottom: 20px;
}

.NextClue {
    display: none;
    text-align: center;
    margin-top: 15%;
    padding: 10px;
    background: rgba(52, 73, 94,.8);
    box-shadow: 0 4px 7pt 1pt #6B6A1E;
    border-radius: 10px;
}

.NextClue .Check {
    font-size: 45pt;
    color: rgba(39, 174, 96,1.0);
        text-shadow: 2px 2px 4px #000000;
}

.NextClue p {
    text-shadow: 2px 2px 4px #000000;
    font-size: 15pt;
    color: rgba(39, 174, 96,1.0);
}

.BackForward {
    font-size: 20pt;
    color: rgba(52, 152, 219,1.0);
    text-shadow: 2px 2px 4px #000000;
}

.Clue1C {
    height: 100%;
    width: 100%;
    background: url(/images/clue1bg.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Clue2C {
    height: 100%;
    width: 100%;
    background: url(/images/clue2bg.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Clue3C {
    height: 100%;
    width: 100%;
    background: url(/images/clue3bg.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Clue4C {
    height: 100%;
    width: 100%;
    background: url(/images/clue4bg.png);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#backgroundSnowCanvas {
    z-index: -2 !important;
}
.Clue5C {
    height: 100%;
    width: 100%;
    background: url(/images/clue5bg.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

@media(max-width: 648px) {
    .CountdownClock {
    }

    .Countdown {
        width: 300px !important;
        margin-left: -150px !important;
        top: 65% !important;
    }

    .MC {
    }

    .Map {
        width: 200px !important;
        height: 206px !important;
        top: 20px !important;
        left: 15px !important;
    }

    .JJ {
        width: 125px !important;
        height: 120px !important;
        top: 20px !important;
        right: 15px !important;
    }

    .flip {
        width: 18px !important;
        height: 80px !important;
    }

    .flip-clock-divider .flip-clock-label {
        right: -42px !important;
    }

    .flip-clock-wrapper ul li a div div.inn {
        font-size: 30px !important;
    }

    .flip-clock-divider.minutes .flip-clock-label {
        right: -49px !important;
    }

    .flip-clock-divider.seconds .flip-clock-label {
        right: -50px !important;
    }

    .NextClue {
        margin-top: 1% !important;
    }

    .ClueContainer {
        margin-top: 1% !important;
    }
}
